<footer class="footer__container">
  <a href="#top"><img src="./assets/images/ico-arrow.svg" alt="arrow icon"></img></a>  
  <p>
    &copy; 2021
 </p>
 <p>
  we <span class="footer__container--heart">&hearts;</span> components
 </p>
  <ul>
      <li><a href="https://adalab.es/" target="_blank">articles</a></li>
      <li><a href="https://adalab.es/" target="_blank">books</a></li>
      <li><a href="https://adalab.es/" target="_blank">events</a></li>
      <li><a href="https://adalab.es/" target="_blank">reasons</a></li>
      <li><a href="https://adalab.es/" target="_blank">tips</a></li>   
  </ul> 
  <ul>
      <li><a href="https://adalab.es/" target="_blank">twitter </a></li>
      <li><a href="https://adalab.es/" target="_blank">instagram </a></li>
      <li><a href="https://adalab.es/" target="_blank">mastodon social</a></li>
  </ul>  
</footer>
