<footer class="footer__container">
  <a href="#top" class="footer__container--arrow" ><img src="./assets/images/ico-arrow.svg" alt="arrow icon" title="Go to the top of the page"></img></a>  
  <div class="footer__container--copy">
    <p class="footer__container--paragraph">
      &copy; 2021
     </p>
     <p class="footer__container--paragraph">
    we <span class="footer__container--heart">&hearts;</span> components
     </p>
  </div>
  <ul class="footer__container--list-1">
      <li><a href="https://adalab.es/" target="_blank" class="footer__container--links">articles</a></li>
      <li><a href="https://adalab.es/" target="_blank" class="footer__container--links">books</a></li>
      <li><a href="https://adalab.es/" target="_blank" class="footer__container--links">events</a></li>
      <li><a href="https://adalab.es/" target="_blank" class="footer__container--links">reasons</a></li>
      <li><a href="https://adalab.es/" target="_blank" class="footer__container--links">tips</a></li>   
  </ul> 
  <ul class="footer__container--list-2">
      <li><a href="https://adalab.es/" target="_blank" class="footer__container--links">twitter </a></li>
      <li><a href="https://adalab.es/" target="_blank" class="footer__container--links">instagram </a></li>
      <li><a href="https://adalab.es/" target="_blank" class="footer__container--links">mastodon.social</a></li>
  </ul>  
</footer>
