<header class="header">
  <a href="https://adalab.es/" target="_blank" class="header__icomenu">
    <img
      src="./assets/images/ico-menu.svg"
      alt="menú"
      title="Go to the page of Adalab"
    />
  </a>
  <div class="header__container" id="top">
    <h1 class="header__container--title">Anonymous proxy</h1>
    <p class="header__container--paragraph">
      In hac habitasse platea dictumst.
    </p>
    <a href="#purchase"
      ><img
        src="./assets/images/ico-scroll-down.svg"
        alt="scroll down icon"
        class="button__scroll-down"
        title="Go to 3 reasons to purchase"
    /></a>
  </div>
</header>
