<header>
  <a href="https://adalab.es/" target="_blank"
    ><img
      src="./assets/images/ico-menu.svg"
      alt="menú"
      class="header__icomenu"
      title="Go to the page of Adalab"
  /></a>
  <div class="header__container" id="top">
    <h1 class="header__container--title">Anonymous proxy</h1>
    <p class="header__container--paragraph">
      In hac habitasse platea dictumst.
    </p>
    <a href="#purchase"
      ><img
        src="./assets/images/ico-scroll-down.svg"
        alt="scroll down icon"
        class="button__scroll-down"
        title="Go to 3 reasons to purchase"
    /></a>
    <!--<img
      src="./assets/images/cover.jpg"
      alt="photo of new york city"
      class="foto"
    />-->
  </div>
</header>
