<header>
  <a href="https://adalab.es/" target="_blank"
    ><img
      src="./assets/images/ico-menu.svg"
      alt="menú"
      class="header__icomenu"
      title="Ir a la página principal de Adalab"
  /></a>
  <div class="header__container">
    <h1 class="header__container--title">Anonymous proxy</h1>
    <p class="header__container--paragraph">
      In hac habitasse platea dictumst.
    </p>
    <a href=""
      ><img
        src="./assets/images/ico-scroll-down.svg"
        alt="scroll down icon"
        class="button__scroll-down"
    /></a>
  </div>
</header>
