<section class="section__container2" id="purchase">
  <h2 class="section__container2--title">3 reasons to purchase</h2>
  <div>
    <h3 class="section__container2--subtitle">Ut sed metus</h3>
    <p class="section__container2--paragraph">
      Lorem ipsum dolor sit amet consectetur.
    </p>
  </div>
  <div>
    <h3 class="section__container2--subtitle">Curabitur ac erat</h3>
    <p class="section__container2--paragraph">
      Mauris mattis urna quis lorem molestie.
    </p>
  </div>
  <div>
    <h3 class="section__container2--subtitle">Morbi dictum</h3>
    <p class="section__container2--paragraph">
      Aliquam in dolor et dolor tincidunt.
    </p>
  </div>
  <button class="section__container2--button">More reasons</button>
</section>
