//Font
$font-family: 'Roboto', sans-serif;
$font-family2: 'Roboto Slab', serif;

//Colors
$White: #ffffff;
$Black: #000000;
$Cerulean: #0271bc;
$IceBlue: #eff9ff;
$Bright-orange: #f26002;
$DarkGreyBlue: #304268;