.section__container{
    margin: 40px 15px 50px 15px;
    background-color: white;
    @media all and (min-width: 768px){
        margin: 40px 39px 50px 39px;
        
    }
    &--small{
        font-size: 14px;
        font-family: $font-family;
        line-height: 30px;
        text-transform: capitalize;
        color: #8ccbea;
        text-align: left;
    }
    &--title{
        font-size: 24px;
        font-family: $font-family2;
        line-height: 30px;
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 15px;
        @media all and (min-width: 768px) {
            font-size: 26px;
            line-height: 45px;
        }
    }
    &--paragraph{
        font-size: 18px;
        font-family: $font-family;
        color: #4a4a4a;
        line-height: 30px; 
        @media all and (min-width: 768px) {
            font-size: 20px;
        }
    }
    &--button{
        width: 76px;
        height: 45px;
        background-color: white;
        border: 3px solid $Bright-orange;
        color: $Bright-orange;
        font-family: $font-family;
        font-size: 20px;
        font-weight: 500;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        margin-top: 30px;
        transition: color ease 0.8s;
    }
    &--button:hover{
        transform: scale(1.5);
        cursor: pointer;
        border: 3px solid $Cerulean;
        background-color: $IceBlue;
    }
}