.footer__container{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #304268;
    height: 465px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &--paragraph {
        color: white;
        font-size: 14px;
        text-align: center;
        font-family: $font-family;
        order: 2;
    }
    &--heart {
        color: $Bright-orange;
    }
    &--list {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-family: $font-family;
        font-size: 16px;
    }
    &--arrow{
        width: 25px;
        height: 25px;
        padding: 10px;
        background-color: white;
        border-radius: 50px;
        
    }
}