.header{
    width: 100%;
    height: 100vh;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
   @media all and (min-width: 1200px) {
       background-position: inherit;
   }
}

.header__icomenu {
    box-sizing: border-box;
    padding: 8px;
    width: 44px;
    height: 44px;
    border: 5px solid $Cerulean;
    background-color: $Cerulean;
    position: fixed;
    /*top: 0px;
    z-index: 2;*/
    @media all and (min-width:768px) {
        /*left: 0px;*/
    }
}

.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    &--title {
        font-size: 42px;
        color: white;
        text-transform: uppercase;
        font-family: $font-family2;
        line-height: 50px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center; 
        /*position: relative;
        left: 50%;
        transform: translate(-50%, -50%);*/
        padding-top: 300px;
        z-index: 2;
        @media all and (min-width: 768px) {
            font-size: 80px;
            line-height: 106px;
            padding-top: 500px;
        }
        @media all and (min-width:1200px) {
            font-size: 100px;
            word-spacing: 100vw;
            padding-top: 290px;
        }
    }
    &--paragraph {
        font-size: 16px;
        color: white;
        font-family: $font-family;
        /*position: relative; top: 360px;*/
        z-index: 2;
        margin: 30px;
        @media all and (min-width: 768px) {
            font-size: 24px;
        }
    }
}

.button__scroll-down{
    background-color: white;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    /*position: relative;
    top: 450px;*/
    z-index: 2;
    @media all and (min-width:768px) {
        width: 30px;
        height: 30px;
        padding: 15px;
       /* top: 650px;*/
    }
}
