.header__icomenu {
    box-sizing: border-box;
    padding: 10px;
    width: 44px;
    height: 44px;
    border: 5px solid #0271bc;
    background-color: #0271bc;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    &--title {
        font-size: 42px;
        color: white;
        text-transform: uppercase;
        font-family: $font-family2;
        line-height: 50px;
        margin-left: 15px;
        text-align: center;
        position: relative;
        z-index: 2;
        top: 340px;
    }
    &--paragraph {
        font-size: 16px;
        color: white;
        font-family: $font-family;
        position: relative;
        z-index: 2;
        top: 360px;
    }
}

.button__scroll-down{
    background-color: white;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    top: 450px;
}
