.header__icomenu {
    box-sizing: border-box;
    padding: 10px;
    width: 44px;
    height: 44px;
    border: 5px solid #0271bc;
    background-color: #0271bc;
    position: fixed;
    top: 0px;
    z-index: 2;
}

.header__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    &--title {
        font-size: 42px;
        color: white;
        text-transform: uppercase;
        font-family: $font-family2;
        position: relative;
        z-index: 2;
        top: 350px;
    }
    &--paragraph {
        font-size: 16px;
        color: white;
        font-family: $font-family;
        position: relative;
        z-index: 2;
        top: 350px;
    }
}

.button__scroll-down{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    top: 400px;
}
