.section__container2{
    background-color: $IceBlue;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    @media all and (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &--title{
        font-size: 24px;
        font-family: $font-family2;
        text-transform: capitalize;
        text-align: center;
        margin-top: 30px;
        @media all and (min-width:768px) {
            font-size: 26px;
            line-height: 45px;
            grid-column-start: 1;
            grid-column-end: 4;
        }
        @media all and (min-width:1200px){
            font-size: 32px;
        }
    }
    &--subtitle{
        font-size: 18px;
        font-family: $font-family2;
        text-align: center;
        margin: 40px 70px 5px 70px;
        @media all and (min-width:768px) {
            font-size: 20px;
            line-height: 30px;
            margin: 45px 40px 5px 38px;
        }
    }
    &--paragraph{
        font-size: 18px;
        line-height: 30px;
        font-family: $font-family;
        text-align: center;
        padding: 0 70px 0 70px;
        @media all and (min-width:768px) {
            font-size: 20px;
            padding: 15px;
    }
    }
    
    @media all and (min-width:1200px) {
        .lorem {
            padding-left: 80px;
        }
        .mauris {
            padding-right: 10px;
        }
        .aliquam {
            padding-right: 85px;
        }
    } 

    &--button{
        text-transform: capitalize;
        width: 184px;
        height: 45px;
        text-align: center;
        background-color: $Bright-orange;
        color: white;
        font-family: $font-family;
        font-size: 20px;
        border: solid $Bright-orange;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin: 45px auto 60px auto;
        transition: color ease 1s;
        @media all and (min-width: 768px) {
            grid-column-start: 2;
            grid-column-end: 3;
        }
        @media all and (min-width:1200px) {
            width: 255px;
        }
    }
    &--button:hover {
        transform: scale(1.5);
        cursor: pointer;
        border: 2px solid $Cerulean;
        background-color: $DarkGreyBlue;
    }
}